<script type="text/javascript">
    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Buscar y Extrar sentimiento'
            },
            subtitle: {
                text: 'Fuente: elnuevodiario.com.ni'
            },
            xAxis: {
                categories: <%= raw @categories.as_json %>,
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Encontrados',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ' encontrados'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor || '#FFFFFF'),
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: [
                <% @series.each do |key, value| %>
                {
                    name: "<%= key %>",
                    data: <%= value %>
                },
                <% end %>
            ]
        });
    });

</script>
<%= render 'shared/menu' %>
<h5 class="subheader">Con el análisis de sentimiento puedes determinar si se hablo bien o mal de un tema especifico, con datos desde hace  <%= time_ago_in_words(Articulo.first.fecha) %></h4>
  <h5>Instrucciones: </h5> <h5 class="subheader">Introduzca el termino que deseas se analice sentimiento.</h5>

<%= form_tag sentiment_path, :method => :get, :id => 'query-form', :class => 'form-inline' do %>
    <div class="input-group">
      <%= search_field_tag :q, params[:q], :maxlength => 10_000, :tabindex => 1, :class => "form-control" %>
      <div class="input-group-btn">
        <%= submit_tag "Buscar en término!", :id => "query-submit", :tabindex => 2, :class => "form-control btn btn-info" %>
      </div>
    </div>
<% end %>

<div id="container" style="min-width: 310px; height: 800px; margin: 0 auto"></div>
